.homeFeature {
  max-width: 100rem;
  margin: 0 auto;
  padding-block-start: 3rem;

  @media (min-width: 768px) {
    padding-block-start: 6rem;
  }
}

.homeFeatureDetails {
  max-width: 80rem;
  margin: 0 auto;

  @media (min-width: 768px) {
    display: flex;
    gap: 4rem;
  }
}

.detailLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 22rem;
  margin: 2rem auto;
  border-radius: 1rem;

  svg {
    display: block;
    max-width: 100%;
    margin: 0;
  }

  @media (min-width: 768px) {
    width: 24rem;
    margin: 0;
  }

  &:focus-visible {
    outline: 0.3rem dotted var(--orange_600);
    outline-offset: 0.5rem;
  }
}

.detailTitle {
  font-size: 3rem;
  font-weight: var(--font-bold);
  letter-spacing: 0.05em;
  text-align: center;
  margin: 1em auto;

  @media (min-width: 768px) {
    font-size: 6rem;
  }
}

.detailIntro {
  p {
    margin: 0 auto;
    text-align: center;
  }

  @media (min-width: 768px) {
    flex: 1;
    text-align: start;
  }
}

.videoWrap {
  position: relative;
  max-width: 100rem;
  margin: 0 auto 4rem;
}

.videoWrapInner {
  position: relative;
  padding-top: 54.545%;
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid var(--gray_300);

  figure {
    margin: 0;
  }

  video {
    display: block;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin: 0;
    z-index: 1;
  }
}

.videoPoster {
  img {
    display: block;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin: 0;
  }
}

.videoCopy,
.imageSection {
  h2 {
    font-size: 3.2rem;
    font-weight: var(--font-medium);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 0 0 0.5em;
    padding-block-end: 0.25em;
    border-block-end: 1px solid var(--gray_300);
  }
}

.videoTranscript {
  margin-block-start: 2rem;

  @media (min-width: 768px) {
    margin-block: 0 5rem;
  }

  summary {
    display: inline-flex;
    align-items: center;
    /* position: relative;
    inset-inline-start: -1em; */
    font-size: 1.6rem;
    color: var(--gray_600);
    cursor: pointer;
    padding: 0.5em 1em;
    border: 1px solid transparent;
    border-radius: 99vw;
    margin-block-end: 1rem;

    &:hover,
    &:focus-visible {
      border-color: var(--blue_800);
    }

    &:focus-visible {
      outline: 0.3rem dotted var(--orange_600);
      outline-offset: 0.5rem;
    }
  }

  summary::after {
    content: '';
    width: 14px;
    height: 14px;
    background: url('/icons/caratDown.svg');
    background-size: cover;
    margin-left: 0.75em;
    transition: 0.2s;
    opacity: 0.5;
  }

  details[open] > summary::after {
    transform: rotate(180deg);
  }
}

.videoTranscriptContent {
  padding: 2rem 2rem 1rem;
  color: var(--white);
  background-color: var(--gray_700);
  border-radius: 1rem;

  p {
    display: flex;
    gap: 2rem;
    max-width: 80rem;
    margin: 0 auto 2rem;
  }
}

.divider {
  height: 1px;
  max-width: 100rem;
  margin: 5rem auto 0;
  background: var(--gray_200);
}

.detailLinksWrap {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}

.detailLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  position: relative;
  font-size: 1.5rem;
  font-weight: var(--font-semibold);
  color: var(--gray_500);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 0.4em 1.2em;
  background: var(--blue_50);
  border: 0.1rem solid var(--gray_300);
  border-radius: 99vw;
  transition: 0.3s;
  outline-offset: -0.3rem;
  margin-block-start: 0.5em;

  &:hover,
  &:focus-visible {
    color: var(--white);
    background-color: var(--blue_1200);
  }

  &:focus-visible {
    outline: 0.3rem dotted var(--orange_600);
    outline-offset: 0.5rem;
  }
}
