.workHead {
  background: var(--blue_200);
  min-height: 4.4rem;
}

.workHeadInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;

  h1 {
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0.1em;
    color: var(--blue_1200);
    margin: 0;
    text-transform: uppercase;
  }
}

.workFilters {
  text-align: center;
  padding-block: 5rem;
  margin-block-end: 5rem;
  border-block-end: 0.1rem solid var(--gray_200);
}

.workFiltersHead {
  font-size: 2.4rem;
  font-weight: var(--font-bold);
  text-transform: uppercase;
  /* text-align: center; */
  letter-spacing: 0.1em;
  margin: 0 0 1em;
}

.workTags {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem 2rem;
  margin: 0 auto;
  max-width: 80rem;
}

.workTagButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0.2rem;
  background: transparent;
  border: none;
  border-radius: 0.4rem;
  margin: 0;
  cursor: pointer;

  svg {
    width: 100%;
    height: 100%;

    path {
      fill: var(--gray_300);
    }
  }
}

.workTagButton.active {
  svg path {
    fill: var(--gray_700);
  }
}

.workTagButton,
.workTagButton.active {
  &:hover,
  &:focus-visible {
    svg path {
      fill: var(--orange_500);
    }
  }

  &:focus-visible {
    outline: 0.3rem dotted var(--orange_500);
    outline-offset: 0.5rem;
  }
}

.workList {
  min-height: 50vh;
  padding-bottom: 5rem;
}

.workListItems {
  position: relative;
  width: 100%;

  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem 4rem;
    position: relative;
    width: 100%;
  }
}

.workListItem {
  display: block;
  position: relative;
  border-radius: 1rem;
  padding: 0;
  background: var(--black);
  border: 1px solid var(--blue_100);
  overflow: hidden;
  margin-block-end: 2rem;

  img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
    object-position: center;
  }

  &:hover,
  &:focus-visible {
    .workListItemContent {
      opacity: 1;
    }
  }

  &:focus-visible {
    outline: 0.3rem dotted var(--orange_500);
    outline-offset: 0.5rem;
  }

  @media (min-width: 768px) {
    width: calc(50% - 2rem);
  }
}

.workListItemContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  inset: 0;
  color: var(--white);
  padding: 2rem 4rem 4.5rem;
  background: var(--black);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(10, 19, 145, 0.6) 100%
  );
  backdrop-filter: blur(1rem);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: 0.3s;
  cursor: pointer;

  @media (min-width: 768px) {
    padding-block-end: 2rem;
  }

  @media (min-width: 820px) {
    padding-block-end: 4.5rem;
  }
}

.workListLabel {
  font-size: clamp(2rem, 4.464vw + 0.571rem, 4rem);
  font-weight: var(--font-bold);
  letter-spacing: 0.05em;
  margin: 0 auto 0.25em;

  @media (min-width: 768px) {
    font-size: clamp(2rem, 3.571vw - 0.857rem, 4rem);
  }
}

.workListDescription {
  font-size: clamp(1.4rem, 0.893vw + 1.114rem, 1.8rem);
  text-wrap: balance;
  margin: 0 auto 0.5em;

  @media (min-width: 768px) {
    font-size: clamp(1.4rem, 0.714vw + 0.829rem, 1.8rem);
  }
}

.workListLogos {
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem 5rem;
  margin: 2rem auto 0;

  svg path {
    fill: var(--white);
  }

  @media (min-width: 440px) {
    display: flex;
  }

  @media (min-width: 768px) {
    display: none;
  }

  @media (min-width: 1100px) {
    display: flex;
  }
}

.workListPrompt {
  display: none;
  position: absolute;
  inset: auto auto 1.5rem 50%;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: var(--blue_300);
  transform: translateX(-50%);

  &::before,
  &::after {
    content: '';
    display: block;
    height: 1px;
    width: 1rem;
    position: absolute;
    inset-block-start: 50%;
    margin-inline: 0.5rem;
    background: var(--blue_100);
  }

  &::before {
    inset-inline-end: 100%;
  }

  &::after {
    inset-inline-start: 100%;
  }

  @media (min-width: 350px) {
    display: block;
  }

  @media (min-width: 768px) {
    display: none;
  }

  @media (min-width: 820px) {
    display: block;
  }
}
