.heroContainer {
  background: var(--gray_900);
  border-block: 1px solid var(--blue_1200);
}

.hero {
  color: var(--white);
  background: var(--gray_850);
  background-image: linear-gradient(0deg, var(--gray_850), var(--blue_1200));
}

.heroInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 4rem;

  @media (min-width: 768px) {
    padding-block: 8rem;
  }
}

.heroContent {
  max-width: 46rem;
  text-align: center;
}

.heroHeadshot {
  display: block;
  border-radius: 100%;
  width: 16rem;
  height: 16rem;
  margin: 0 auto 4rem;
  overflow: hidden;
  border: 1px solid var(--gray_900);

  img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
    object-position: center;
  }
}

.heroTitle {
  font-size: 3.6rem;
  font-weight: var(--font-light);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-inline-start: 0.2em;
}

.heroSubtitle {
  font-size: 2.2rem;
  font-weight: var(--font-extralight);
  text-transform: lowercase;
  letter-spacing: 0.1em;
  line-height: 1.1;
  margin-inline-start: 0.2em;
  color: var(--blue_300);

  span {
    font-size: 0.9em;
    display: block;
    color: var(--gray_200);
    margin-block-start: 0.3em;
  }
}

.heroIntro {
  font-size: 1.6rem;
  font-weight: var(--font-light);
  color: var(--gray_500);
  text-wrap: balance;
}
