:root {
  --white: #fff;
  --gray_50: #fdfdfd;
  --gray_100: #f8f8f8;
  --gray_200: #e6e6e6;
  --gray_300: #d5d5d5;
  --gray_400: #b1b1b1;
  --gray_500: #909090;
  --gray_600: #6d6d6d;
  --gray_700: #464646;
  --gray_800: #222;
  --gray_850: #181818;
  --gray_900: #000;
  --red_100: #ffebe7;
  --red_200: #ffddd6;
  --red_300: #ffcdc3;
  --red_400: #ffb7a9;
  --red_500: #ff9b88;
  --red_600: #ff7c65;
  --red_700: #f75c46;
  --red_800: #ea3829;
  --red_900: #d31510;
  --red_1000: #b40000;
  --red_1100: #930000;
  --red_1200: #740000;
  --red_1300: #590000;
  --red_1400: #430000;
  --orange_100: #ffeccc;
  --orange_200: #ffdfad;
  --orange_300: #fdd291;
  --orange_400: #ffbb63;
  --orange_500: #ffa037;
  --orange_600: #f68511;
  --orange_700: #e46f00;
  --orange_800: #cb5d00;
  --orange_900: #b14c00;
  --orange_1000: #953d00;
  --orange_1100: #7a2f00;
  --orange_1200: #612300;
  --orange_1300: #491901;
  --orange_1400: #351201;
  --yellow_100: #fbf198;
  --yellow_200: #f8e750;
  --yellow_300: #f8d904;
  --yellow_400: #e8c600;
  --yellow_500: #d7b300;
  --yellow_600: #c49f00;
  --yellow_700: #b08c00;
  --yellow_800: #9b7800;
  --yellow_900: #856600;
  --yellow_1000: #705300;
  --yellow_1100: #5b4300;
  --yellow_1200: #483300;
  --yellow_1300: #362500;
  --yellow_1400: #281a00;
  --chartreuse_100: #dbfc6e;
  --chartreuse_200: #cbf443;
  --chartreuse_300: #bce92a;
  --chartreuse_400: #aad816;
  --chartreuse_500: #98c50a;
  --chartreuse_600: #87b103;
  --chartreuse_700: #769c00;
  --chartreuse_800: #678800;
  --chartreuse_900: #577400;
  --chartreuse_1000: #486000;
  --chartreuse_1100: #3a4d00;
  --chartreuse_1200: #2c3b00;
  --chartreuse_1300: #212c00;
  --chartreuse_1400: #181f00;
  --celery_100: #cdfcbf;
  --celery_200: #aef69d;
  --celery_300: #96ee85;
  --celery_400: #72e06a;
  --celery_500: #4ecf50;
  --celery_600: #27bb36;
  --celery_700: #07a721;
  --celery_800: #009112;
  --celery_900: #007c0f;
  --celery_1000: #00670f;
  --celery_1100: #00530d;
  --celery_1200: #00400a;
  --celery_1300: #003007;
  --celery_1400: #002205;
  --green_100: #cef8e0;
  --green_200: #adf4ce;
  --green_300: #89ecbc;
  --green_400: #67dea8;
  --green_500: #49cc93;
  --green_600: #2fb880;
  --green_700: #15a46e;
  --green_800: #008f5d;
  --green_900: #007a4d;
  --green_1000: #00653e;
  --green_1100: #005132;
  --green_1200: #053f27;
  --green_1300: #0a2e1d;
  --green_1400: #0a2015;
  --seafoam_100: #cef7f3;
  --seafoam_200: #aaf1ea;
  --seafoam_300: #8ce9e2;
  --seafoam_400: #65dad2;
  --seafoam_500: #3fc9c1;
  --seafoam_600: #0fb5ae;
  --seafoam_700: #00a19a;
  --seafoam_800: #008c87;
  --seafoam_900: #007772;
  --seafoam_1000: #00635f;
  --seafoam_1100: #0c4f4c;
  --seafoam_1200: #123c3a;
  --seafoam_1300: #122c2b;
  --seafoam_1400: #0f1f1e;
  --cyan_100: #c5f8ff;
  --cyan_200: #a4f0ff;
  --cyan_300: #88e7fa;
  --cyan_400: #60d8f3;
  --cyan_500: #33c5e8;
  --cyan_600: #12b0da;
  --cyan_700: #019cc8;
  --cyan_800: #0086b4;
  --cyan_900: #00719f;
  --cyan_1000: #005d89;
  --cyan_1100: #004a73;
  --cyan_1200: #00395d;
  --cyan_1300: #002a46;
  --cyan_1400: #001e33;
  --blue_50: #f4faff;
  --blue_100: #e0f2ff;
  --blue_200: #cae8ff;
  --blue_300: #b5deff;
  --blue_400: #96cefd;
  --blue_500: #78bbfa;
  --blue_600: #59a7f6;
  --blue_700: #3892f3;
  --blue_800: #147af3;
  --blue_900: #0265dc;
  --blue_1000: #0054b6;
  --blue_1100: #004491;
  --blue_1200: #003571;
  --blue_1300: #002754;
  --blue_1400: #001c3c;
  --indigo_100: #edeeff;
  --indigo_200: #e0e2ff;
  --indigo_300: #d3d5ff;
  --indigo_400: #c1c4ff;
  --indigo_500: #acafff;
  --indigo_600: #9599ff;
  --indigo_700: #7e84fc;
  --indigo_800: #686df4;
  --indigo_900: #5258e4;
  --indigo_1000: #4046ca;
  --indigo_1100: #3236a8;
  --indigo_1200: #262986;
  --indigo_1300: #1b1e64;
  --indigo_1400: #141648;
  --purple_100: #f6ebff;
  --purple_200: #edf;
  --purple_300: #e6d0ff;
  --purple_400: #dbbbfe;
  --purple_500: #cca4fd;
  --purple_600: #bd8bfc;
  --purple_700: #ae72f9;
  --purple_800: #9d57f4;
  --purple_900: #893de7;
  --purple_1000: #7326d3;
  --purple_1100: #5d13b7;
  --purple_1200: #470c94;
  --purple_1300: #33106a;
  --purple_1400: #230f49;
  --fuchsia_100: #ffe9fc;
  --fuchsia_200: #ffdafa;
  --fuchsia_300: #fec7f8;
  --fuchsia_400: #fbaef6;
  --fuchsia_500: #f592f3;
  --fuchsia_600: #ed74ed;
  --fuchsia_700: #e055e2;
  --fuchsia_800: #cd3ace;
  --fuchsia_900: #b622b7;
  --fuchsia_1000: #9d039e;
  --fuchsia_1100: #800081;
  --fuchsia_1200: #640664;
  --fuchsia_1300: #470e46;
  --fuchsia_1400: #320d31;
  --magenta_100: #ffeaf1;
  --magenta_200: #ffdce8;
  --magenta_300: #ffcadd;
  --magenta_400: #ffb2ce;
  --magenta_500: #ff95bd;
  --magenta_600: #fa77aa;
  --magenta_700: #ef5a98;
  --magenta_800: #de3d82;
  --magenta_900: #c82269;
  --magenta_1000: #ad0955;
  --magenta_1100: #8e0045;
  --magenta_1200: #700037;
  --magenta_1300: #54032a;
  --magenta_1400: #3c061d;
}
