.outerContainer {
  padding-inline: var(--page-padding-mob);

  @media (min-width: 800px) {
    padding-inline: var(--page-padding);
  }
}

.innerContainer {
  max-width: var(--page-width);
  margin-inline: auto;
}

.visuallyHidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.touchTarget {
  &::after {
    content: '';
    position: absolute;
    inset: 50% 0 0 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    min-width: var(--touch-target);
    height: 100%;
    min-height: var(--touch-target);
  }
}
