.marqueeWrap {
  --logo: #535371;
  --logoHover: #8c8ca1;

  position: relative;
  overflow: hidden;
  height: 10rem;
  width: 100%;
  padding-block: 2rem;
}

.marqueeTrack {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  will-change: transform;
}

.marqueeInner {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;

  svg path {
    fill: var(--logo);
  }

  a {
    border-radius: 0.4rem;
  }

  a:hover,
  a:focus-visible {
    svg path {
      fill: var(--logoHover);
    }
  }

  a:focus-visible {
    outline: 0.2rem dotted var(--logoHover);
    outline-offset: 0.4rem;

    svg path {
      fill: var(--gray_400);
    }
  }
}

.marqueePauseBtn {
  position: absolute;
  inset: 0 0 0 auto;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;

  &:focus {
    background: red;
  }
}

.marqueePauseBtn svg {
  width: 100%;
  height: 100%;
}

/* a[aria-hidden='true'] {
  pointer-events: none;
} */
