.resume {
  composes: outerContainer from '../../styles/mixins.css';

  li {
    margin: 0 0 1em;
  }

  li::marker {
    position: relative;
    margin-block-start: -0.5em;
    font-size: 0.7em;
  }
}

.resumeInner {
  composes: innerContainer from '../../styles/mixins.css';
  padding-block: 5rem;
}

.resumeDownload {
  composes: resume;
  background: var(--blue_200);
}

.resumeDownloadInner {
  composes: innerContainer from '../../styles/mixins.css';

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;

  h1 {
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0.1em;
    color: var(--blue_1200);
    margin: 0;
    text-transform: uppercase;
  }
}

.downloadLink {
  composes: touchTarget from '../../styles/mixins.css';

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  position: relative;
  font-size: 1.5rem;
  color: var(--blue_1200);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 0.4em 1.2em;
  background: var(--blue_100);
  border-radius: 99vw;
  transition: 0.2s;
  outline-offset: -0.3rem;

  &:hover,
  &:focus-visible {
    color: var(--white);
    background-color: var(--blue_1200);
  }

  &:focus-visible {
    outline: 0.3rem dotted var(--orange_600);
    outline-offset: 0.5rem;
  }
}

.downloadLinkIcon {
  width: 1em;
  height: 1em;

  svg {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
  }
}

.resumeHead {
  composes: resume;
}

.resumeHeadInner {
  composes: resumeInner;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-block-end: 0.1rem solid var(--gray_200);

  address {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem 1.5rem;
    font-style: normal;
  }
}

.resumeTitle {
  font-size: 4.2rem;
  font-weight: var(--font-bold);
  /* text-transform: uppercase; */
  letter-spacing: 0.05em;
  margin: 0;
}

.resumeSubtitle {
  font-size: 2rem;
  font-weight: var(--font-light);
  text-transform: lowercase;
  letter-spacing: 0.15em;
  line-height: 1.1;
  margin-block: 0.25em 1em;
  margin-inline-start: 0.1em;
  color: var(--blue_1000);

  span {
    font-size: 0.9em;
    display: block;
    color: var(--gray_500);
    margin-block-start: 0.3em;
  }
}

.resumeSubtitleSeparator {
  composes: visuallyHidden from '../../styles/mixins.css';
}

.contactLink {
  composes: touchTarget from '../../styles/mixins.css';

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  position: relative;
  font-size: 1.5rem;
  font-weight: var(--font-semibold);
  color: var(--gray_500);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 0.4em 1.2em;
  background: var(--blue_50);
  border: 0.1rem solid var(--gray_300);
  border-radius: 99vw;
  transition: 0.3s;
  outline-offset: -0.3rem;

  &:hover,
  &:focus-visible {
    color: var(--white);
    background-color: var(--blue_1200);
  }

  &:focus-visible {
    outline: 0.3rem dotted var(--orange_600);
    outline-offset: 0.5rem;
  }
}

.contactLinkIcon {
  width: 1em;
  height: 1em;

  svg {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
  }
}

.resumeSection {
  margin-block-end: 8rem;
}

.resumeSectionHead {
  font-size: 2.4rem;
  font-weight: var(--font-bold);
  text-transform: uppercase;
  /* text-align: center; */
  letter-spacing: 0.1em;
  margin: 0 0 1em;
}

.resumeIntro {
  text-align: center;
  max-width: 80rem;
  margin-inline: auto;
  font-style: italic;
}

.resumeSeparator {
  height: 0;
  border-block-end: 1px solid var(--gray_200);
  margin-block: 8rem;
}

.resumeColumns {
  @media (min-width: 800px) {
    display: flex;
    gap: 2rem;

    > section {
      flex: 1;
    }
  }
}

.visuallyHidden {
  composes: visuallyHidden from '../../styles/mixins.css';
}

.resumeWork {
  padding: 1.5rem 2.5rem;
  margin-block: 3rem;
  border: 1px solid var(--gray_200);
  border-radius: 1.5rem;

  h3 {
    font-size: 4rem;
    letter-spacing: 0.05em;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0 0 0.5em;
  }

  h4 {
    font-size: 2.8rem;
    letter-spacing: 0.05em;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--gray_600);
    margin: 0;
  }

  summary {
    display: inline-flex;
    align-items: center;
    position: relative;
    inset-inline-start: -1em;
    font-size: 1.6rem;
    color: var(--gray_600);
    cursor: pointer;
    padding: 0.5em 1em;
    border: 1px solid transparent;
    border-radius: 99vw;

    &:hover,
    &:focus-visible {
      border-color: var(--blue_800);
    }

    &:focus-visible {
      outline: 0.3rem dotted var(--orange_600);
      outline-offset: 0.5rem;
    }
  }

  summary::after {
    content: '';
    width: 14px;
    height: 14px;
    background: url('/icons/caratDown.svg');
    background-size: cover;
    margin-left: 0.75em;
    transition: 0.2s;
    opacity: 0.5;
  }

  details[open] > summary::after {
    transform: rotate(180deg);
  }
}

.resumeWorkSeparator {
  height: 0;
  border-block-end: 1px solid var(--gray_200);
  margin-block: 3rem;
}

.resumeWorkRole {
  display: flex;
  justify-content: space-between;
  font-style: italic;
}

.resumeWorkTime {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  font-style: normal;
  color: var(--gray_600);
}

.resumeWorkPortfolioWrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.resumeWorkPortfolio {
  composes: touchTarget from '../../styles/mixins.css';

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  position: relative;
  font-size: 1.5rem;
  font-weight: var(--font-semibold);
  color: var(--gray_500);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 0.4em 1.2em;
  background: var(--blue_50);
  border: 0.1rem solid var(--gray_300);
  border-radius: 99vw;
  transition: 0.3s;
  outline-offset: -0.3rem;
  margin-block-start: 0.5em;

  &:hover,
  &:focus-visible {
    color: var(--white);
    background-color: var(--blue_1200);
  }

  &:focus-visible {
    outline: 0.3rem dotted var(--orange_600);
    outline-offset: 0.5rem;
  }
}
