.nav {
  --nav-height: 6rem;

  composes: outerContainer from '../../styles/mixins.css';
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: var(--nav-height);
  background: var(--black);
}

.siteTitle {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  text-decoration: none;
  border-radius: 0.4rem;
  color: var(--gray_400);

  &:hover,
  &:focus-visible {
    color: var(--white);
  }

  &:focus-visible {
    outline: 0.2rem dotted var(--white);
    outline-offset: 0.5rem;
  }
}

.siteTitleImg {
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  overflow: hidden;
  border: 1px solid var(--gray_600);
}

.siteTitleText {
  composes: touchTarget from '../../styles/mixins.css';
  position: relative;
  font-weight: var(--font-extralight);
  text-transform: uppercase;
  font-size: 2.8rem;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
}

.menuToggle,
.mobileNavWrap {
  display: none;
}

.menuList {
  composes: innerContainer from '../../styles/mixins.css';
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4rem;
  flex: 1;
  height: var(--nav-height);
  margin-block: 0;
  padding: 0;
  list-style: none;
}

.menuLink {
  composes: touchTarget from '../../styles/mixins.css';
  position: relative;
  text-decoration: none;
  font-weight: var(--font-extralight);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: #8c8ca1;
  border-radius: 0.5rem;

  &:hover,
  &:focus-visible {
    color: var(--white);
  }

  &:focus-visible {
    outline: 0.2rem dotted var(--white);
    outline-offset: 0.5rem;
  }
}

.menuLink.active {
  color: var(--white);
}

.mobileMenu {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
  padding: 8rem 2rem 2rem;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(10px);
  visibility: hidden;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.mobileMenu.open {
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0%);
}

.mobileList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0 0;
  padding: 0;
  list-style: none;
}

.link {
  &:focus-visible {
    background: red;
  }
}

.closeButton {
  align-self: flex-end;
}

@media (max-width: 800px) {
  .mobileNavWrap {
    display: block;
  }

  .mobileNav {
    composes: innerContainer from '../../styles/mixins.css';
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    height: var(--nav-height);
    z-index: 1001;
  }

  .menuList {
    display: none;
  }
}
