@import './styles/normalize.css';
@import './styles/typography.css';
@import './styles/colors.css';
@import './styles/animations.css';

:root {
  --animation-duration: 0.3s;
  --animation-delay: 0s;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
    animation: none !important;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
