@import './styles/normalize.css';
@import './styles/typography.css';
@import './styles/colors.css';
@import './styles/variables.css';
@import './styles/animations.css';

:root {
  --animation-duration: 0.3s;
  --animation-delay: 0s;

  color: var(--gray_850);
  background-color: var(--blue_50);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
    animation: none !important;
  }
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
